<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Hunja Blog | Just a Blog</title>
    {% endif %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/index.css')}}"
    />
  </head>
  <body>
    <!-- Navbar block  -->
    {% block navbar %} {% include 'navbar.html' %} {% endblock %}
    <!-- Content block -->
    {% block content %} {% endblock%}
  </body>
</html>
