{% extends 'base.html'%} {% import "bootstrap/wtf.html" as wtf %} {%block
content%}
<div class="row">
  <div class="col-md-12 col-sm-12 carpe">
    <h1 class="text-center">CARPE <span style="color: #f97300">DIEM</span></h1>
    <p class="text-center">
      To help you get started here's a quote for the moment...
    </p>

    <div class="fill-height rounded">
      <div id="hello" class="col-lg-10" style="text-align: center">
        <p>{{ quote.quote }}</p>
        <p>~ {{ quote.author }}</p>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-4 col-sm-12 mt-1">
    <h2>Create Blog</h2>
    {{ wtf.quick_form(blog_form) }}
  </div>
  <div class="col-md-8 col-sm-12">
    <h2>Latest Posts</h2>
    {% for blog in blogs %}
    <h3>{{ blog.title }}</h3>
    <p>{{ blog.body }}</p>
    <small class="text-muted"
      >Posted on {{moment(blog.timestamp).format('MMMM Do YYYY, h:mm:ss
      a')}}</small
    >

    <hr />
    {% endfor%}
  </div>
</div>
{% endblock %}
